UPMIND_API_BASE_URL=https://api.upmind.io/api
UPMIND_ME_ENDPOINT=/clients/me
UPMIND_API_TOKEN=replace_me
UPMIND_WEBHOOK_SECRET=replace_me
CORS_ALLOWED_ORIGINS=https://portal.zebrabyte.ro
ZDK_BASE_URL=https://desk.zoho.com/api/v1
ZDK_ORG_ID=replace_me
ZDK_DEPARTMENT_ID=replace_me
ZOHO_CLIENT_ID=replace_me
ZOHO_CLIENT_SECRET=replace_me
ZOHO_REFRESH_TOKEN=replace_me
ZOHO_ACCOUNTS_URL=https://accounts.zoho.eu
ZOHO_ASAP_JWT_SECRET=replace_me
ZOHO_ASAP_SCRIPT_URL=https://desk.zoho.eu/portal/api/web/asapApp/202686000000628009?orgId=20111269432
ZOHO_HC_JWT_SECRET=replace_me
ZDK_IGNORE_SOURCE_ID=replace-with-a-stable-uuid
